<div class="container">
  <div class="row">
    <div class="text-white p-0 main-img">
      <div class="main-img-back d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column justify-content-center">
          <p class="fs-2 text-center">スーパーカブと旅に出よう！</p>
          <p class="fs-3 text-center">〜cubとならどこへでも〜</p>
        </div>
      </div>
    </div>
  </div> 
  <div class="row">
    <div>
      <h2>活動報告！</h2>
      <div>post</div>
    </div>
    
  </div> 
</div>